<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpg" %>
    </div>
    <div id="content">
        <h1>Why Use Generics?</h1>
        <p>In a nutshell, generics enable types (classes and interfaces) to be parameters when defining classes, interfaces and methods.</p>
        <p>Much like the more familiar formal parameters used in method declarations, type parameters provide a way for you to re-use the same code with different inputs. </p>
        <p>The difference is that the inputs to formal parameters are values, while the inputs to type parameters are types.</p>

<p>Code that uses generics has many benefits over non-generic code:

Stronger type checks at compile time.
A Java compiler applies strong type checking to generic code and issues errors if the code violates type safety. Fixing compile-time errors is easier than fixing runtime errors, which can be difficult to find.

Elimination of casts.
The following code snippet without generics requires casting:</p>

    </div>
</div>